@page "/SampleArticle"
<PageTitle>Internet exlorer: The most used browser</PageTitle>

<h1>Internet exlorer: The most used browser</h1>
<p>
    Vivamus sit amet porttitor felis, ut consequat ante. Nunc volutpat, purus quis ultrices sodales, purus arcu
    rutrum odio, nec ornare orci nisl eu leo. Sed tortor ligula, sollicitudin sed arcu vitae, auctor fermentum nisl.
    Praesent sed malesuada risus. Maecenas aliquet ipsum in nisl egestas placerat. Aenean porttitor magna a placerat
    tempus. Nam nec ante maximus, consectetur neque et, pulvinar dui. Nam scelerisque feugiat turpis at suscipit.
    Sed feugiat justo vel placerat tristique. Duis convallis libero eget bibendum facilisis. Aliquam mollis commodo
    mi. Proin eleifend ornare felis, et consectetur neque mollis at. Sed non quam vel nisl facilisis pretium. Lorem
    ipsum dolor sit amet, consectetur adipiscing elit. Etiam malesuada vel urna quis auctor.
</p>

<h2>Why this will never change</h2>
<p>
    Proin consequat risus id commodo bibendum. Mauris sit amet ligula dui. Donec semper a felis at tempor.
    Integer blandit ultricies neque, id tempor eros dictum accumsan. In varius fermentum dui sed tincidunt.
    Integer varius nunc purus, pellentesque aliquam tellus blandit vel. Fusce nec leo tristique, pulvinar quam
    pretium, vestibulum tortor. Nullam consequat lacus at massa fermentum, eget consequat diam efficitur. Fusce
    quis odio venenatis, egestas libero vitae, ullamcorper augue.
</p>

