<div>
    <nav>
        <div>
            <NavLink href="" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div>
            <NavLink href="/ItemList" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Item list
            </NavLink>
        </div>
        <div>
            <NavLink href="/SampleForm" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Sample form
            </NavLink>
        </div>
        <div>
            <NavLink href="/SampleArticle" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Sample article
            </NavLink>
        </div>
    </nav>
</div>
